doctype html
html(lang='fi')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='style.css', rel='stylesheet')
    title= 'JäkeLunch'
  body
    main(class='p-6')
      h1(class='text-4xl') Viikon #{currentWeek} lounaat
      div(class='mt-4 flex flex-col')
        each menu in menus
          div(class='mt-4')
            h2(class='text-3xl')
              a(href=menu.url, target='_blank')= menu.venue
            if menu.weekMenu.length
              div(class='mt-2 flex flex-wrap')
                - var i = 0;
                while !menu.weekly && i < 5
                  - var weekday = weekDates[i];
                  - var dayMenu = menu.weekMenu[i];
                  - i++;
                  div(class='py-2 px-4 flex-[1_1_500px]')
                    h3(class='text-2xl')= weekday
                    if dayMenu.length
                      div(class='mt-1 flex flex-col')
                        ul(class='list-disc')
                          each item in dayMenu
                            li(class='mt-1') 
                              div
                                b= item.name
                                i(class='ml-1')= item.price
                              div
                                i= item.description
                    else
                      div(class='mt-1') Päivän ruokalista ei ole saatavilla
                if (menu.weekMenu.length >= 6)
                  - var dayMenu = menu.weekMenu[5];
                  div(class='py-2 px-4 flex-[1_1_500px]')
                    h3(class='text-2xl') Koko viikon annokset
                    if dayMenu.length
                      div(class='mt-1 flex flex-col')
                        ul(class='list-disc')
                          each item in dayMenu
                            li(class='mt-1') 
                              div
                                b= item.name
                                i(class='ml-1')= item.price
                              div
                                i= item.description
            else
              div(class='mt-2') Viikon ruokalista ei ole saatavilla